# Обучение с учителем в Scikit-learn


# Задание 1

Импортируйте библиотеки pandas и numpy.

In [1]:
import pandas as pd
import numpy as np

Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и Y из этих данных.

In [13]:
from sklearn.datasets import load_boston
boston = load_boston()
data = boston["data"]
feature_names = boston["feature_names"]
X = pd.DataFrame(data, columns=feature_names)
target = boston["target"]
Y = pd.DataFrame(target, columns=["price"])

In [14]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [15]:
Y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

In [7]:
from sklearn.model_selectionelection import train_test_split

In [8]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30, random_state=42)

Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

In [9]:
from sklearn.linear_model import LinearRegression

Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

In [10]:
lr = LinearRegression()
lr.fit(X_train, Y_train)

LinearRegression()

In [11]:
y_pred_lr = lr.predict(X_test)
check_test_lr = pd.DataFrame({
    "Y_test": Y_test["price"], 
    "Y_pred_lr": y_pred_lr.flatten()})

check_test_lr.head()

     Y_test  Y_pred_lr
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280

Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [38]:
from sklearn.metrics import r2_score
r2 = r2_score(Y_test,y_pred_lr)
r2

0.711226005748496

# Задание 2

Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.

In [39]:
from sklearn.ensemble import RandomForestRegressor

Сделайте агрумент n_estimators равным 1000, max_depth должен быть равен 12 и random_state сделайте равным 42.

In [ ]:
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression, но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0], чтобы получить из датафрейма одномерный массив Numpy, так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.

In [40]:
model.fit(X_train, Y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.

In [43]:
y_pred_model = model.predict(X_test)
check_test_model = pd.DataFrame({
    "Y_test": Y_test["price"], 
    "Y_pred_model": y_pred_model.flatten()})

check_test_model.head()

     Y_test  Y_pred_model
173    23.6     22.806412
274    32.4     31.131464
491    13.6     16.339125
72     22.8     23.810726
452    16.1     17.139521

In [48]:
from sklearn.metrics import r2_score
r2x = r2_score(Y_test,y_pred_model)
r2x

0.87472606157312

In [49]:
print(r2, r2x)

0.87472606157312 0.87472606157312

Напишите в комментариях к коду, какая модель в данном случае работает лучше.

Разницы не получил...